# ----------------------------------------------------------------------
# Disable directory browsing
# ----------------------------------------------------------------------
Options -Indexes

# ----------------------------------------------------------------------
# Rewrite Engine
# ----------------------------------------------------------------------
<IfModule mod_rewrite.c>
    RewriteEngine On

    # If the requested filename exists, simply serve it.
    # We only want to let Apache serve files and not directories.
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ - [L]

    # Rewrite all other queries to the front controller.
    RewriteRule ^([\s\S]*)$ index.php/$1 [L,NC,QSA]
</IfModule>

# ----------------------------------------------------------------------
# Prevent Character Injection
# ----------------------------------------------------------------------
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{THE_REQUEST} !^POST
    RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.php\ HTTP/
    RewriteRule ^index\.php(.*)$ $1 [R=301,L]
</IfModule>

# ----------------------------------------------------------------------
# PERBAIKAN: MENAIKKAN BATAS INPUT PHP (SOLUSI MASALAH SIMPAN KUK)
# ----------------------------------------------------------------------
<IfModule mod_php7.c>
    php_value max_input_vars 5000
    php_value post_max_size 50M
    php_value upload_max_filesize 50M
    php_value memory_limit 256M
</IfModule>

<IfModule mod_php.c>
    php_value max_input_vars 5000
    php_value post_max_size 50M
    php_value upload_max_filesize 50M
    php_value memory_limit 256M
</IfModule>